.quill{
    padding: 0 24px;
}

/* Change the background and text color of the editor */
.ql-container {
    /* background-color: var(--hover_color); */
    color: var(--primary_text);
}

/* removing border from textarea */
.ql-container.ql-snow{
    border: none;
    height: 75vh;
}
@media (max-width: 572px) {
    .ql-container.ql-snow{
        height: 72vh;
    }
}

.ql-snow .ql-editor{
    font-size: 17px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    /* line-height: 32px; */
    font-family: var(--font);
}

.ql-snow .ql-editor h1{
    margin: 18px 0;
}

.ql-snow .ql-editor h2{
    margin: 12px 0;
}

.ql-snow .ql-editor ul, .ql-snow .ql-editor ol{
    margin: 10px 0;
}

@media (max-width: 1200px) {
    .ql-snow .ql-editor {
        font-size: 16px;
        /* line-height: 30px; */
    }
}

/* Small screens */
@media (max-width: 992px) {
    .ql-snow .ql-editor {
        font-size: 15px;
        /* line-height: 28px; */
    }
}

/* Extra small screens */
@media (max-width: 768px) {
    .ql-snow .ql-editor {
        font-size: 14px;
        /* line-height: 26px; */
    }
}

@media (max-width: 640px) {
    .ql-snow .ql-editor {
        font-size: 13px;
        /* line-height: 24px; */
    }
    .ql-snow .ql-editor h1{
        margin: 15px 0;
    }
    .ql-snow .ql-editor h2{
        margin: 10px 0;
    }
    .ql-snow .ql-editor ul, .ql-snow .ql-editor ul{
        margin: 8px 0;
    }
}

/* Change the background color and border of the toolbar */
.ql-toolbar.ql-snow {
    background-color: var(--nav_color);  /* changing background color of editor */
    border: none;
    /* margin: 0 12px; */
    border-radius: 6px;
    /* height: 6vh; */
}

/* Change the toolbar button colors */
.ql-toolbar.ql-snow .ql-picker {
    color: var(--secondary_text);
}

.ql-toolbar.ql-snow .ql-stroke {
    stroke: var(--secondary_text);    /* text color of toolbar */
}

.ql-toolbar.ql-snow .ql-fill {
    fill: var(--secondary_text);    /* slight colors within toolbar text -> comment written by me as well */
}

.ql-toolbar.ql-snow .ql-picker-label {
    color: var(--secondary_text);    /* normal block color */
}

.ql-toolbar.ql-snow:hover .ql-picker-label:hover {
    color: var(--primary_text);    /* normal block hover color */
}

.ql-toolbar.ql-snow .ql-picker-item {
    color: black;   /* heading color without hover */
}

/* Change the hover and active states for toolbar buttons */
.ql-toolbar.ql-snow .ql-picker-label:hover,
.ql-toolbar.ql-snow .ql-picker-item:hover,
.ql-toolbar.ql-snow .ql-picker-item.ql-selected {
    color: var(--primary_text);    /* hover color of heading button */
    background-color: var(--hover_color);  /* hover background of heading button */
}

.ql-toolbar.ql-snow button:hover,
.ql-toolbar.ql-snow button.ql-active {
    background-color: var(--hover_color);  /* hover background color on normal button */
    border-radius: 2px;
}


/* ----------------------------------------------------------------------------------------------------- */


button:hover .ql-stroke,
.ql-picker-label:hover .ql-stroke {
  fill: none;
  stroke: var(--primary_text) !important;
}

.ql-active .ql-stroke {
  fill: none;
  stroke: var(--primary_text) !important;
}

button:hover .ql-fill,
.ql-picker-label:hover .ql-fill {
  fill: var(--primary_text) !important;
  stroke: none;
}

.ql-active .ql-fill {
  fill: var(--primary_text) !important;
  stroke: none;
}


/* ----------------------------------------------------------------------------------------------------- */


/* Customize the entire scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Width of the vertical scrollbar */
    height: 12px; /* Height of the horizontal scrollbar */
  }
  
  /* Customize the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: var(--hover_color); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners of the scrollbar thumb */
    border: 2px solid var(--primary_text); /* Adds space around the scrollbar thumb */
  }
  
  /* Customize the scrollbar track */
  ::-webkit-scrollbar-track {
    background: var(--primary_text); /* Color of the scrollbar track */
    border-radius: 10px; /* Rounded corners of the scrollbar track */
    border: 1px solid var(--primary_text); /* Adds a border around the scrollbar track */
  }
  